body {
    background-color: rgba(64, 162, 64, 0.934);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-link {
    color: rgb(0, 0, 0);
    font-size: 200;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(50, 237, 56);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5vh;
    border: 2px solid rgb(50, 237, 56);
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
}

h3 {
    padding-bottom: 10px;
    max-width: 250px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3vh;
    color: black;
    background-color: white;
    margin-top: 2%;
    text-align: center;
}

.img-anime {
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
}

.div-image {
    margin: auto;
    display: flex;
    margin: 30px;
}

.div-text {}

.p-text {
    max-width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 4%;
    border-radius: 1.5vh;
    margin: auto;
    border: 1.2px solid black;
    box-shadow: 1px 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.div-um {
    border-radius: 1vh;
    max-width: 70%;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 1px 1px 0.2px black;
    margin: auto;
    margin-bottom: 3rem;
}

.div-dois {
    border-radius: 1vh;
    margin-top: 3rem;
    max-width: 70%;
    background-color: rgb(235, 221, 27);
    border: 1px solid black;
    box-shadow: 1px 1px 0.2px black;
    margin: auto;
    margin-bottom: 3rem;
}

.div-tres {
    margin-top: 3rem;
    border-radius: 1vh;
    max-width: 70%;
    background-color: crimson;
    border: 1px solid black;
    box-shadow: 1px 1px 0.2px black;
    margin: auto;
   
}
.tres{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.div-um-img{
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.div-dois-img{
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.descricao-personagens{
    margin: 10px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;  
    border-radius: 2vh;
    border: 1px solid black;
}
.div-tres-img{
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.nome-personagem-principal{
    background-color: white;
    max-width: 140px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3vh;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
}
.saiba-mais-personagens-link{
    background-color: white;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    border-radius: 3vh;
    border: 1.5px solid black;
    box-shadow: 0.5px 0.5px 0.3px black;
    color: black;
    
   
}
.saiba-mais-personagens-link:hover{
background-color: red;
color: white;
transition: 0.6s;
}
.saiba-mais-personagens-paragrafo{
padding: 10px;
margin: 10px;
margin: auto;
display: flex;
}
.saiba-mais-personagens-link-chopper{
    background-color: white;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    border-radius: 3vh;
    border: 1.5px solid black;
    box-shadow: 0.5px 0.5px 0.3px black;
    color: black;
    
}
.saiba-mais-personagens-link-chopper:hover{
    background-color: rgb(13, 88, 186);
    color: rgb(255, 255, 255);
    transition: 0.6s;
    }

.saiba-mais-personagens-paragrafo{

}